<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VISAfee</key>
	<array>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>1ヶ月</string>
			<key>fee</key>
			<string>100</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>2ヶ月</string>
			<key>fee</key>
			<string>200</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>3ヶ月</string>
			<key>fee</key>
			<string>300</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>4ヶ月</string>
			<key>fee</key>
			<string>400</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>5ヶ月</string>
			<key>fee</key>
			<string>500</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>6ヶ月</string>
			<key>fee</key>
			<string>600</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>7ヶ月</string>
			<key>fee</key>
			<string>700</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>8ヶ月</string>
			<key>fee</key>
			<string>800</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>9ヶ月</string>
			<key>fee</key>
			<string>900</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>10ヶ月</string>
			<key>fee</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>11ヶ月</string>
			<key>fee</key>
			<string>1100</string>
		</dict>
		<dict>
			<key>country</key>
			<string>アメリカ</string>
			<key>purpose</key>
			<string>観光</string>
			<key>period</key>
			<string>12ヶ月</string>
			<key>fee</key>
			<string>1200</string>
		</dict>
	</array>
</dict>
</plist>
