<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>オーストラリア</key>
	<array>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>オーストラリア</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
	</array>
	<key>シンガポール</key>
	<array>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>シンガポール</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
	</array>
	<key>ニュージーランド</key>
	<array>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>-1</string>
			<key>country</key>
			<string>ニュージーランド</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>-1</string>
		</dict>
	</array>
	<key>フィリピン</key>
	<array>
		<dict>
			<key>cost</key>
			<string>5500</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>5500</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>8530</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>3030</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>15830</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>7300</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>16330</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>7800</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>18660</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>2330</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>19160</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>2830</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>22900</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>23400</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>27140</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>27640</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>31380</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>31880</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>留学</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>3030</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>3030</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>10330</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>7300</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>10830</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>7800</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>13160</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>2330</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>13660</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>2830</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>17400</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>17900</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>21640</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>22140</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>25880</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>26380</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>観光</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>0</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>1</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>3030</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>2</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>3030</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>10330</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>3</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>7300</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>10830</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>4</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>7800</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>13160</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>5</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>2330</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>13660</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>6</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>2830</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>17400</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>7</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>17900</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>8</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>21640</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>9</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>22140</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>10</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>25880</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>11</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>3740</string>
		</dict>
		<dict>
			<key>cost</key>
			<string>26380</string>
			<key>country</key>
			<string>フィリピン</string>
			<key>period</key>
			<string>12</string>
			<key>purpose</key>
			<string>就労</string>
			<key>separate</key>
			<string>4240</string>
		</dict>
	</array>
</dict>
</plist>
